{% extends 'base.html' %}

{# 		deal_buy.html												#}
{# 		Bryan Cattle - 5/6/2011										#}
{# 		Page for collecting user info for purchase					#}

{% block content %}
<!-- Start Content Wrapper -->
<div id="content_wrapper">
	<!-- Content Area -->
	<div id="content">
		<!-- Top Three Featured Boxes -->
		<div class="box">
			<form action="{{ request.path }}" method="post">{% csrf_token %}
				<!-- Enumerate deal choices -->
				<h3>Your purchase</h3>
				<ul>
					{% for choice in dealChoices %}
					<li>
						{% if choice.enabled %}
							<div class="dealChoiceEnabled">
						{% else %}
							<div class="dealChoiceDisabled">
						{% endif %}
						<input type="radio" name="dealChoice" value="dealChoice_{{ forloop.counter0 }}" {% if forloop.first %}checked="checked"{% endif %} />{{ choice.descriptionHtml|safe }} - <input type="text" name="dealChoice_{{ forloop.counter0 }}" value="1" class="dealChoiceQty" /> x ${{ choice.price }} = ${{ choice.price }}
					</div></li>
					{% endfor %}
					<li><h5>Total: $15</h5></li>
				</ul>
				<!-- Let the user select which nonprofit to donate to -->
				<h3>Your proceeds go to</h3>
				<ul>

				</ul>
				<!-- Link to sign in/facebook connect -->
				{% if user.is_authenticated %}
					<ul>
						<li>Welcome {{ user.first_name }}</li>
						<li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
					</ul>
				{% else %}
					<h3>Bought from us before?</h3>
					<ul>
						<li><a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}">Login</a></li>
						<li><a href="">Facebook connect</a></li>
					</ul>
					<!-- New user form -->
					<h3>Personal information</h3>
					<ul>
						{% for f in newUserForm %}
						<li class="field">
							{{ f.errors }}
							{{ f.label_tag }}: {{ f }}
						</li>
					{% endfor %}
					</ul>
				{% endif %}
				<!-- Buy form -->
				<h3>Billing information</h3>
				<div class="form">
					{% for f in buyForm %}
						<div class="field">
							{{ f.label_tag }}: {{ f }} {{ f.errors }}
						</div>
					{% endfor %}
				</div>
				<input type="submit" value="Place order" />
			</form>
		</div>
	</div>
</div>
{% endblock %}