<!-- Initialise jQuery Library -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!-- Cufon Font Generator Plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}js/cufon/cufon-yui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cufon/MgOpen_Modata_400-MgOpen_Modata_700.font.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cufon/cufon-load.js"></script>

<!-- jQuery Watermark Plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.watermarkinput.js"></script>

<!-- DropDown Menu Plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}js/ddsmoothmenu.js"></script> 

<!-- jQuery Image Fading plugin -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color.js"></script>

<!-- jQuery Tabs -->
<script type="text/javascript" src="{{ STATIC_URL }}js/ui.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ui.tabs.js"></script>

<!-- jQuery TinyCarousel -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tinycarousel.min.js"></script>

<!-- jQuery Tipsy -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>

<!-- jQuery autoAlign -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autoAlign.js"></script>

<!-- Nivo Slider -->
<script type="text/javascript" src="{{ STATIC_URL }}js/nivo-slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('#nivo-slider').nivoSlider({
			effect:'random', //Specify sets like: 'fold,fade,sliceDown'
			slices:40,
			animSpeed:600,
			pauseTime:3000,
			directionNav:true, //Next and Prev
			directionNavHide:false,
			controlNav:true //1,2,3...
		});
	});
</script>

<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22825756-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>