{% extends 'base.html' %}

{# 		impact.html													#}
{# 		Bryan Cattle - 2/27/2011									#}
{# 		Breakdown of impact of our giving							#}

{% block title %}DoloresDeals.org | A better deal for your neighborhood{% endblock %}

{% block content %}
<!-- Start Content Wrapper -->
<div id="content_wrapper">
	<!-- Content Area -->
	<div id="content">
		<div class="box">
			<h2>DoloresDeals.org Joins the Fight to Save Bay to Breakers</h2>
			<img class="pic alignleft" src="{{ staticroot }}images/b2b-gorilla.jpg" width="165" height="247" />
			<p>Bay to Breakers is one of San Francisco's most emblematic traditions; it's fun, it's welcoming, it's weird, and people let it all hang out (literally). It's a giant party for the people of San Francisco.</p>

			<p>But Bay to Breakers needs your help.</p>

			<p>Throwing a ridiculous party for over 100,000 awesome people is hard. People get sick, people urinate in public, and a few people who aren't awesome do stupid things like get in fights and damage property. It's like throwing a raging theme party in your apartment, but then adding the population of a major city.</p>

			<p>When situations are hard, you can take an easy route, or fight for what's right. For a couple of years, race organizers have taken an easy route. Rather than building a widespread movement for participants to be more responsible at Bay to Breakers, they chose to enact a "zero tolerance" ban on alcohol, nudity, and floats. After public outcry, the organizers softened the zero tolerance stance, but the bans still apply. Since 2009, city police have been asked to enforce bans that nobody believes in. As a result, the rules aren't enforced and little progress is made towards better respecting the neighborhoods along the parade route.</p>

			<p>So, what's the alternative?</p>

			<p>It's time for all of us to step up as leaders. We have adopted the rallying cry: <em>"drink in the streets, but pee in the potty."</em> In other words, party hard, but don't be a tool. It's a simple rule of thumb by which most San Franciscans live their lives. Do your part by setting a good example and respecting the neighborhoods where you celebrate.</p>

			<p>To do our part, DoloresDeals is partnering with the Citizens for the <em>Preservation of Bay to Breakers</em>, a non-profit group dedicated to saving the Bay to Breakers tradition,  to raise money for the clean-up efforts the day after the parade. Every penny we earn above our costs for our B2B Pub Crawl Pre-Party & Pit Stop will be donated to neighborhood associations that clean the streets along the route. After all, every great party must end with somebody throwing away red cups and waking up the random dude who's passed out on the sofa.</p>

			<p>On their end, race organizers should invest more money towards porta-potties along the parade route. Seriously, the lines are terrible.</p>

			<p>But on a lighter note, we couldn't be more excited for  the 2011 Bay to Breakers and we hope to see you out there. If you want to sprint down Hayes Street with nothing to cover you but a Brian Wilson Beard and a whiskey-induced grin, we salute you. And when you have to pee, we'll save a spot for you in line.</p>

			<p>To learn more about the Citizens for the Preservation of Bay to Breakers, please visit their website at <a href="http://www.savebay2breakers.org/">www.savebay2breakers.org</a></p>
			
			<p>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4db11f9015e41c3f"></script>
				<!-- AddThis Button END -->
			</p>

			<p>DoloresDeals<br>
			<em>Love your neighborhood </em></p>
		</div>
	</div>
</div>
{% endblock %}