{% extends 'base.html' %}

{# 		impact.html													#}
{# 		Bryan Cattle - 2/27/2011									#}
{# 		Breakdown of impact of our giving							#}

{% block title %}How we're giving back - DoloresDeals.org | A better deal for your neighborhood{% endblock %}

{% block content %}
<!-- Start Content Wrapper -->
<div id="content_wrapper">
	<!-- Content Area -->
	<div id="content">
		<div class="box">
			<h2>Impact</h2>
			<!--<img class="pic alignleft" src="{{ staticroot }}images/dolores-vanilla.jpg" width="224" height="161" />-->
			<p>We know that alot of organizations out there talk about giving back, but we want to make sure we show it. After every deal, we'll tell you exactly how much we donated to charity. Stay tune after Bay 2 Breakers to find out how we did.</p>
		</div>
	</div>
</div>
{% endblock %}