{% extends 'base.html' %}

{# 		story.html													#}
{# 		Bryan Cattle - 4/21/2011									#}
{# 		Origins of dolores deals									#}

{% block title %}How we got started - DoloresDeals.org | A better deal for your neighborhood{% endblock %}

{% block content %}
<!-- Start Content Wrapper -->
<div id="content_wrapper">
	<!-- Content Area -->
	<div id="content">
		<div class="box">
			<h2>It all started at the park.</h2>
			<img class="pic alignleft" src="{{ staticroot }}images/dolores-vanilla.jpg" width="224" height="161" />
			<p>Spend a few hours at San Francisco's Dolores Park on a beautiful Sunday afternoon, and you'll notice a few things. You'll see a perfect blue skyline of San Francisco punctuated by a mosaic-capped dome from Mission High School. You'll see hundreds of young people having a good time with friends, and you'll smell a few funky smells. Stay long enough and you'll grab a blanket and get ready for movie night.</p>
			<p>You might also meet us.</p>
			<p>We're DoloresDeals.org, a daily deal site for San Franciscans who love their neighborhoods. Every time you buy something on our site - whether it's a discount pub crawl for Bay to Breakers or half-priced yoga classes - we donate 15-20% to neighborhood charities in San Francisco.</p>
			<p>Over the past few months, we've talked to hundreds of people about our idea at Dolores Park, and the results have been inspiring. People care about their neighborhoods and want to help.</p>
			<p>All you have to do is have a good time and show some love for your neighborhood. It's how we do it in San Francisco.</p> 
		</div>
	</div>
</div>
{% endblock %}