{% extends 'base.html' %}

{# 		deal.html													#}
{# 		Bryan Cattle - 5/3/2011										#}
{# 		Deal presentation template									#}

{% block content %}
	<!-- Start Slider -->
	<div class="slider_wrapper" style="height:216px">
			<img src="{{ STATIC_URL }}images/{{ mural_file }}" width="960" height="216" />
	</div>
	<!-- End Slider -->
	
	<div class="slider_wrapper" style="height:26px;padding-top:18px;">
		<h3 class="aligncenter">Help your <span style="color:green">neighborhood</span>. Support your <a href="causes.html">cause</a>. It starts in the Mission and Castro.</h3>
	</div>
	
	<!-- Start Content Wrapper -->
	<div id="content_wrapper">
		<div id="content">
			<!-- <div class="box" style="position:relative;"> -->
			<div style="position:relative;">
				{% include 'includes/nonprofit.html' %}
				
				<h1>{{ deal.headline }}</h1>
				<h3>{{ deal.subheadline }}</h3>
				
				<ul>
					<li>Price: {{ defaultDealChoice.price }}</li>
					<li>Value: {{ defaultDealChoice.regPrice }}</li>
					<li>Discount: {{ defaultDealChoice.discountDollars }}</li>
					<li>You save: {{ defaultDealChoice.discountPercent }}</li>
					<li>Time remaining: </li>
					<li>Num purchased: {{ deal.getNumPurchased}}</li>
				</ul>
				
			</div>
		</div>
	</div>
{% endblock %}