{# 		footer.html											#}
{# 		Bryan Cattle - 2/27/2011							#}
{# 		Page footer with links and feedback form			#}

<!-- Start Footer Sidebar -->
<div id="f_sidebar">
	<div class="sb_wrapper">
		<!-- Start First Collumn -->
		<div class="widget-container widget_text" style="padding-right:200px;">
			<h3>About us</h3>
			<p>DoloresDeals.org is a new kind of daily deals site. We donate a percentage of every deal to local charities that you choose.</p>
			<p>We focus on your neighborhood. You buy a deal from a local merchant, and you support local business and nonprofits making a difference in the community.</p>
			<ul>
				<li><h4><a href="/legal/" title="Legal">Legal</a></h4></li>
			</p>
		</div>
		<!-- Start Third Collumn -->
		<div class="widget-container widget_text">
			<h3>Contact Form</h3>
			<div class="wpcf7">
				<form class="wpcf7-form" action="#">
					<p><label>Name:</label>
					<span class="wpcf7-form-control-wrap your-name"><input type="text" size="40" class="wpcf7-text" value="" name="your-name"/></span><span class="clear"></span></p>
					<p><label>Email:</label>
					<span class="wpcf7-form-control-wrap your-email"><input type="text" size="40" class="wpcf7-text" value="" name="your-email"/></span><span class="clear"></span></p>
					<p><span class="wpcf7-form-control-wrap your-message"><textarea rows="5" cols="5" name="your-message"></textarea></span></p>
					<p><input type="submit" class="wpcf7-submit" value="Send"/></p>
				</form>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<!-- End Footer Sidebar -->
<!-- Start Footer  -->
<div id="footer">
	<p class="copy">Copyright &copy; 2011  &bull;  DoloresDeals Inc.  &bull;  All rights reserved</p>
	<div class="clear"></div>
</div>
<!-- End Footer  -->